<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BE in Computer Science</h4>
    <h5 class="meta"><a href="http://www.sinhgad.edu/">Sinhgad College</a></br> <a href="http://www.unipune.ac.in/">University of Pune (SPPU)</a></h5>
    <h6 class="meta">Score: 67%</h6>
    <div class="time">2013 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">HSC</h4>
    <h5 class="meta"><a href="http://www.fergusson.edu/">Fergusson College</a> </br> <a href="https://mahahsscboard.maharashtra.gov.in/">MSBSHSE</a> Pune Division</h5>
    <h6 class="meta">Score: 65%</h6>
    <div class="time">2011 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">SSC</h4>
    <h5 class="meta">GSC HighSchool </br> <a href="https://mahahsscboard.maharashtra.gov.in/">MSBSHSE</a> Nashik Division</h5>
   <h6 class="meta">Score: 93%</h6> 
    <div class="time">2001 - 2011</div>
</div><!--//item-->

</div><!--//education-container-->
