<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BE in Computer Science</h4>
    <h5 class="meta">Sinhgad College University of Pune</h5>
    <h6 class="meta">Score: 67%</h6>
    <div class="time">2013 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">HSC</h4>
    <h5 class="meta">Fergusson College MSBSHSE Pune Division</h5>
    <h6 class="meta">Score: 65%</h6>
    <div class="time">2011 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">SSC</h4>
    <h5 class="meta">GSC HighSchool </br> MSBSHSE Nashik Division</h5>
   <h6 class="meta">Score: 93%</h6> 
    <div class="time">2011 - 2013</div>
</div><!--//item-->

</div><!--//education-container-->
