<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Ownself</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I have been working with Website and WebApp Developement since past 2-3 years.</p>  
                        <p>I have hands on HTML5, CSS3 , JS and other Web Technologies.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Robotics Developer</h3>
                            <div class="time">2014 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">SAOE Robotics Club, Pune</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Im core team Member of SAOE Robotics Club.I have been working here for developement of Robots and there software part.We as a team worked out several projects in Robotics Domain.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Trainee Intern</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Cybercure Technology, Delhi</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Here I learned and worked with various Cyber Security techniques like Detection and Prevention measures for DDOS cyber attack, various network based attacks etc.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
