<div class="interests-container container-block">
<h2 class="container-block-title">Interests</h2>
<ul class="list-unstyled interests-list">
<li>Reading Self-Help Books</li>
<li>Playing Ground Games</li>
<li>Cooking</li>
</ul>
</div><!--//interests-->




<div class="remove-container container-block">
<h2 class="container-block-title">About ME</h2>
<ul class="list-unstyled interests-list">
<a href="http://www.swamivivekanandaquotes.org/2014/05/bhagavad-gita-chapter-2-verse-47.html"><li>कर्मण्येवाधिकारस्ते मा फलेषु कदाचन। 
मा कर्मफलहेतुर्भूर्मा ते सङ्गोऽस्त्वकर्मणि॥ २-४७</li></a>
</ul>
</div><!--//interests-->
