<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>These are some projects that I have done during my Grads.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">National Robocon 2015</a></span> - <span class="project-tagline">Worked as a Head of Computer Section in the team of 20 students. Performed the programming of Arduino UNO Board and Atmega 8, 32 microcontrollers. Worked on various electronic components and sensors like Proximity, HC-05 Bluetooth, ultrasonic etc.</span>
                    
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Hostel Management Project</a></span> - 
                    <span class="project-tagline">As part of B.E. Mini Project (5th Semester, team of four), we have designed and developed the 3-tier infrastructure for keeping the records of Hostel entries and their manipulations using HTML, CSS, bootstrap for front end and MongoDB, JavaScript for Back end.</span>
                </div><!--//item-->
  
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">National Robocon 2016</a></span> - <span class="project-tagline">Performed the programming of Arduino UNO, NANO and Mega Board. Worked on various electronic components and sensors. Built up two robots, did various electronics tasks like circuit designing, mechanical stability and overall robot working etc.</span>
                </div><!--//item-->
  
                <div class="item">
    </section> <!--//section-->
